/* BASIC STYLES HERE */
.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

.car-img {
  min-height: 100%;
  max-height: 55vh;
  width: 100%;
  object-fit: cover;
}