<div class="container">
  <section class="row">
    <div class="col-12">
      <h1 class="text-center">Cars</h1>
    </div>
  </section>

  <!-- FIXME hide this form until they click a button -->
  <section class="row my-3">
    <div class="col-12">
      <div class="p-3 cool-form">
        <form onsubmit="app.CarsController.createCar()">
          <div class="mb-3">
            <label for="make" class="form-label">Car Make</label>
            <input type="text" class="form-control" id="make" placeholder="Car Make..." maxlength="500" name="make"
              required>
          </div>
          <div class="mb-3">
            <label for="model" class="form-label">Car Model</label>
            <input type="text" class="form-control" id="model" placeholder="Car Model..." required name="model"
              maxlength="500">
          </div>
          <div class="mb-3">
            <label for="year" class="form-label">Car Year</label>
            <input type="number" class="form-control" id="year" placeholder="2025" required min="1908" max="2026"
              name="year">
          </div>
          <div class="mb-3">
            <!-- FIXME show how to pull number out of input and display -->
            <label for="price" class="form-label">Car Price</label>
            <input type="range" class="form-range" id="price" min="0" max="1000000" name="price" required>
          </div>
          <div class="mb-3">
            <label for="imgUrl" class="form-label">Car ImgUrl</label>
            <input type="url" class="form-control" id="imgUrl" required maxlength="500" name="imgUrl">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Car Description</label>
            <textarea class="form-control" id="description" rows="3" maxlength="500" name="description"></textarea>
          </div>
          <div class="mb-3">
            <label for="engineType">Type of Engine</label>
            <select class="form-select" id="engineType" name="engineType">
              <option selected disabled value="">Open this select menu</option>
              <option value="unknown">Unknown</option>
              <option value="2 stroke">2 stroke</option>
              <option value="4 cylinder">4 cylinder</option>
              <option value="v6">V6</option>
              <option value="v8">v8</option>
              <option value="v10">v10</option>
              <option value="v12">v12</option>
              <option value="small">small</option>
              <option value="medium">medium</option>
              <option value="large">large</option>
              <option value="chuncko">chuncko</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="color" class="form-label">Car Color</label>
            <input type="color" class="form-control form-control-color" id="color" value="#00000"
              title="Choose your car's color" name="color">
          </div>
          <div class="text-end">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </section>

  <section id="carListings" class="row">
    <!-- <div class="col-12 mb-3">
      <div class="car-card shadow">
        <div class="row">
          <div class="col-12 col-md-4">
            <img class="img-fluid bg-dark"
              src="https://images.unsplash.com/photo-1552615526-40e47a79f9d7?q=80&w=2176&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="Mazda Miata">
          </div>
          <div class="col-12 col-md-8">
            <div class="p-3">
              <h2>1997 Mazda Miata</h2>
              <h2>$6000</h2>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed veritatis ullam mollitia sit perspiciatis
                totam eligendi commodi, debitis earum alias!</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </section>


</div>